<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>URL</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let url of liste; let i = index">
            <td>{{i}}</td>
            <td>{{url}}</td>
            <td>
                <button (click) = "deleteRow(i)"><img src="https://cdn.pixabay.com/photo/2018/06/01/22/55/icon-3447437_960_720.png" width="30px" height="30px"></button>
            </td>
            
        </tr>
    </tbody>
</table>
