.buttons {
    transition-duration: 0.4s;
    background-color: rgb(124, 213, 255);
    color: black;
    border: 2px solid #51ceff; /* Green */
    width: 400px;
    height: 50px;
  }
  
  .buttons:hover {
    background-color: #41b9f1; /* Green */
    color: white;
  }
  